In [2]:
import pandas as pd

In [3]:
ids = ['22241','22334','22243','22244','22245','22246','22247',
 '22248','22249','22250','22251','22252','22253','22254','22255']
len(ids)

15

In [10]:
header = """##fileformat=VCFv4.2
##source=VarDict_v1.8.2
##INFO=<ID=SAMPLE,Number=1,Type=String,Description="Sample name (with whitespace translated to underscores)">
##INFO=<ID=TYPE,Number=1,Type=String,Description="Variant Type: SNV Insertion Deletion Complex">
##INFO=<ID=DP,Number=1,Type=Integer,Description="Total Depth">
##INFO=<ID=END,Number=1,Type=Integer,Description="Chr End Position">
##INFO=<ID=VD,Number=1,Type=Integer,Description="Variant Depth">
##INFO=<ID=AF,Number=A,Type=Float,Description="Allele Frequency">
##INFO=<ID=BIAS,Number=1,Type=String,Description="Strand Bias Info">
##INFO=<ID=REFBIAS,Number=1,Type=String,Description="Reference depth by strand">
##INFO=<ID=VARBIAS,Number=1,Type=String,Description="Variant depth by strand">
##INFO=<ID=PMEAN,Number=1,Type=Float,Description="Mean position in reads">
##INFO=<ID=PSTD,Number=1,Type=Float,Description="Position STD in reads">
##INFO=<ID=QUAL,Number=1,Type=Float,Description="Mean quality score in reads">
##INFO=<ID=QSTD,Number=1,Type=Float,Description="Quality score STD in reads">
##INFO=<ID=SBF,Number=1,Type=Float,Description="Strand Bias Fisher p-value">
##INFO=<ID=ODDRATIO,Number=1,Type=Float,Description="Strand Bias Odds ratio">
##INFO=<ID=MQ,Number=1,Type=Float,Description="Mean Mapping Quality">
##INFO=<ID=SN,Number=1,Type=Float,Description="Signal to noise">
##INFO=<ID=HIAF,Number=1,Type=Float,Description="Allele frequency using only high quality bases">
##INFO=<ID=ADJAF,Number=1,Type=Float,Description="Adjusted AF for indels due to local realignment">
##INFO=<ID=SHIFT3,Number=1,Type=Integer,Description="No. of bases to be shifted to 3 prime for deletions due to alternative alignment">
##INFO=<ID=MSI,Number=1,Type=Float,Description="MicroSatellite. > 1 indicates MSI">
##INFO=<ID=MSILEN,Number=1,Type=Float,Description="MicroSatellite unit length in bp">
##INFO=<ID=NM,Number=1,Type=Float,Description="Mean mismatches in reads">
##INFO=<ID=LSEQ,Number=1,Type=String,Description="5' flanking seq">
##INFO=<ID=RSEQ,Number=1,Type=String,Description="3' flanking seq">
##INFO=<ID=GDAMP,Number=1,Type=Integer,Description="No. of amplicons supporting variant">
##INFO=<ID=TLAMP,Number=1,Type=Integer,Description="Total of amplicons covering variant">
##INFO=<ID=NCAMP,Number=1,Type=Integer,Description="No. of amplicons don't work">
##INFO=<ID=AMPFLAG,Number=1,Type=Integer,Description="Top variant in amplicons don't match">
##INFO=<ID=HICNT,Number=1,Type=Integer,Description="High quality variant reads">
##INFO=<ID=HICOV,Number=1,Type=Integer,Description="High quality total reads">
##INFO=<ID=SPLITREAD,Number=1,Type=Integer,Description="No. of split reads supporting SV">
##INFO=<ID=SPANPAIR,Number=1,Type=Integer,Description="No. of pairs supporting SV">
##INFO=<ID=SVTYPE,Number=1,Type=String,Description="SV type: INV DUP DEL INS FUS">
##INFO=<ID=SVLEN,Number=1,Type=Integer,Description="The length of SV in bp">
##INFO=<ID=DUPRATE,Number=1,Type=Float,Description="Duplication rate in fraction">
##FILTER=<ID=q22.5,Description="Mean Base Quality Below 22.5">
##FILTER=<ID=Q10,Description="Mean Mapping Quality Below 10">
##FILTER=<ID=p8,Description="Mean Position in Reads Less than 8">
##FILTER=<ID=SN1.5,Description="Signal to Noise Less than 1.5">
##FILTER=<ID=Bias,Description="Strand Bias">
##FILTER=<ID=pSTD,Description="Position in Reads has STD of 0">
##FILTER=<ID=d3,Description="Total Depth < 3">
##FILTER=<ID=v2,Description="Var Depth < 2">
##FILTER=<ID=f0.01,Description="Allele frequency < 0.01">
##FILTER=<ID=MSI12,Description="Variant in MSI region with 12 non-monomer MSI or 13 monomer MSI">
##FILTER=<ID=NM5.25,Description="Mean mismatches in reads >= 5.25, thus likely false positive">
##FILTER=<ID=InGap,Description="The variant is in the deletion gap, thus likely false positive">
##FILTER=<ID=InIns,Description="The variant is adjacent to an insertion variant">
##FILTER=<ID=Cluster0bp,Description="Two variants are within 0 bp">
##FILTER=<ID=LongMSI,Description="The somatic variant is flanked by long A/T (>=14)">
##FILTER=<ID=AMPBIAS,Description="Indicate the variant has amplicon bias.">
##FORMAT=<ID=GT,Number=1,Type=String,Description="Genotype">
##FORMAT=<ID=DP,Number=1,Type=Integer,Description="Total Depth">
##FORMAT=<ID=VD,Number=1,Type=Integer,Description="Variant Depth">
##FORMAT=<ID=AD,Number=R,Type=Integer,Description="Allelic depths for the ref and alt alleles in the order listed">
##FORMAT=<ID=AF,Number=A,Type=Float,Description="Allele Frequency">
##FORMAT=<ID=RD,Number=2,Type=Integer,Description="Reference forward, reverse reads">
##FORMAT=<ID=ALD,Number=2,Type=Integer,Description="Variant forward, reverse reads">
##INFO=<ID=ANNOVAR_DATE,Number=1,Type=String,Description="Flag the start of ANNOVAR annotation for one alternative allele">
##INFO=<ID=Func.refGene,Number=.,Type=String,Description="Func.refGene annotation provided by ANNOVAR">
##INFO=<ID=Gene.refGene,Number=.,Type=String,Description="Gene.refGene annotation provided by ANNOVAR">
##INFO=<ID=GeneDetail.refGene,Number=.,Type=String,Description="GeneDetail.refGene annotation provided by ANNOVAR">
##INFO=<ID=ExonicFunc.refGene,Number=.,Type=String,Description="ExonicFunc.refGene annotation provided by ANNOVAR">
##INFO=<ID=AAChange.refGene,Number=.,Type=String,Description="AAChange.refGene annotation provided by ANNOVAR">
##INFO=<ID=ALLELE_END,Number=0,Type=Flag,Description="Flag the end of ANNOVAR annotation for one alternative allele">
"""

In [20]:
for x in range(3):
    for y in range(4):
        
        parent = ids[x*5]
        variant = ids[x*5 + y+1]
        
        # file_name = "results/VE_" + parent + "_VE_" + variant + ".xlsx"
        file_name = "results/test.xlsx"
        
        pv_df = pd.read_excel(file_name)#, sheet_name="p-v " + variant)
        pv_df = pv_df[:10]
        # vp_df = pd.read_excel(file_name, sheet_name="v-p " + variant)

        display(pv_df)
        
#         second_file = "results/VE_22241_VE_22243.xlsx"
        
#         pv_df = pd.read_excel(second_file)
#         display(pv_df[:2])
        break
    break

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,VE_22254
0,chrY,5032636,.,C,A,37,pSTD;Q10,SAMPLE=VE_22254;TYPE=SNV;DP=111;VD=2;AF=0.018;...,GT:DP:VD:AD:AF:RD:ALD,"0/1:111:2:107,2:0.018:88,19:2,0"
1,chrY,5032660,.,C,A,37,pSTD;Q10,SAMPLE=VE_22254;TYPE=SNV;DP=55;VD=2;AF=0.0364;...,GT:DP:VD:AD:AF:RD:ALD,"0/1:55:2:53,2:0.0364:44,9:2,0"

In [32]:
print(['.'] * len([1,2,3]))

['.', '.', '.']

In [6]:
def remove_columns(dataframe):
    dataframe = dataframe.drop(columns=["Sample ID", "End", "Func.refGene", "Gene.refGene", "GeneDetail.refGene", "ExonicFunc.refGene", "AAChange.refGene", "Otherinfo1", "Otherinfo2", "Otherinfo3", "Otherinfo4", "Otherinfo5", "Otherinfo6", "Otherinfo7", "Otherinfo8", ])
    # vcf requires adding the column id, but with all na '.' values
    dataframe.insert(2, "ID", ['.'] * len(dataframe.index))
    return dataframe

In [41]:
pv_df = pd.read_excel("results/VE_22241_VE_22243.xlsx")
test = remove_columns(pv_df)
pv_df = pv_df.drop(columns=["Sample ID", "End", "Func.refGene", "Gene.refGene", "GeneDetail.refGene", "ExonicFunc.refGene", "AAChange.refGene", "Otherinfo1", "Otherinfo2", "Otherinfo3", "Otherinfo4", "Otherinfo5", "Otherinfo6", "Otherinfo7", "Otherinfo8", ])
pv_df.insert(2, "ID", ['.'] * len(pv_df.index))

pd.set_option("display.max_rows", None, "display.max_columns", None)
display(pv_df[:2])

display(test[:2])

,Chr,Start,ID,Ref,Alt,Otherinfo9,Otherinfo10,Otherinfo11,Otherinfo12,Otherinfo13
0,chr1,1636440,.,G,A,286,PASS,SAMPLE=VE_22241;TYPE=SNV;DP=1261;VD=217;AF=0.1...,GT:DP:VD:AD:AF:RD:ALD,"0/1:1261:217:1044,217:0.1721:443,601:106,111"
1,chr1,6249979,.,G,T,103,PASS,SAMPLE=VE_22241;TYPE=SNV;DP=44;VD=7;AF=0.1591;...,GT:DP:VD:AD:AF:RD:ALD,"0/1:44:7:37,7:0.1591:20,17:3,4"

,Chr,Start,ID,Ref,Alt,Otherinfo9,Otherinfo10,Otherinfo11,Otherinfo12,Otherinfo13
0,chr1,1636440,.,G,A,286,PASS,SAMPLE=VE_22241;TYPE=SNV;DP=1261;VD=217;AF=0.1...,GT:DP:VD:AD:AF:RD:ALD,"0/1:1261:217:1044,217:0.1721:443,601:106,111"
1,chr1,6249979,.,G,T,103,PASS,SAMPLE=VE_22241;TYPE=SNV;DP=44;VD=7;AF=0.1591;...,GT:DP:VD:AD:AF:RD:ALD,"0/1:44:7:37,7:0.1591:20,17:3,4"

In [7]:
def rename_headers(dataframe, var):
    # change ve22254
    dataframe.rename(columns={'Chr': '#CHROM', 'Start': 'POS', 'Ref': "REF", "Alt": "ALT", "Otherinfo9": "QUAL", "Otherinfo10": "FILTER", "Otherinfo11": "INFO", "Otherinfo12": "FORMAT", "Otherinfo13": "VE_"+ var}, inplace=True)
    return dataframe

In [8]:
# sub_name must be p-v or v-p
def create_vcf(sub_name):
    
    df = pd.read_excel(file_name, sheet_name=sub_name + " " + variant)
    
    df = remove_columns(df)
    df = rename_headers(df, variant)
    
    vcf_filename = parent + "_" + variant + "_" + sub_name + ".vcf"
    
    with open(vcf_filename, 'w') as vcf:
        vcf.write(header)
        
    df.to_csv(vcf_filename, sep="\t", mode='a', index=False)
    return None

In [ ]:
for x in range(3):
    for y in range(4):
        
        parent = ids[x*5]
        variant = ids[x*5 + y+1]
        
        file_name = "results/VE_" + parent + "_VE_" + variant + ".xlsx"

        create_vcf("p-v")
        create_vcf("v-p")

In [12]:
df = pd.read_excel("results/VE_22251_VE_22241.xlsx", sheet_name="variant-parent")

df = remove_columns(df)
df = rename_headers(df, "22241")

vcf_filename = "VE_22251_VE_22241_v-p.vcf"

with open(vcf_filename, 'w') as vcf:
    vcf.write(header)

df.to_csv(vcf_filename, sep="\t", mode='a', index=False)